@charset "UTF-8";
/*
    em HTML é id    = em CSS é # (só pode um elemento por página HTML)
    em HTML é class = em CSS é .
*/
body{
    background-color: #B3E6D6;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #166149;
}

#principal{
    text-align: center;
    background-color: #336152;
    color: white;
}

h2{ 
    color: #28AD83;
}
.basico{
    color: #506e4e;
}
.intermediario{
    color: #999013;
}
.avancado{
    color: #AD2E00;
}

.destaque{
    background-color:  #e0d31b80;
}
